# Authentifizierungs- und Konfigurationsdateien
your-client-secret.json
token.json
config.json
service_account.json

# Python-spezifische Ignorierungen
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtuelle Umgebungen
venv/
.venv/
.env/

# Systemspezifische Ignorierungen
.DS_STORE